<h1> 선택된 아티클 보여주기</h1>
<p>
    Title : <%= @article.title %>
</p>

<p>
    설명 : <%= @article.description %>
</p>

<%= link_to "수정하기", edit_article_path %> | 
<%= link_to "아티클 리스팅으로 돌아가기", articles_path %>
